apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  namespace: vault
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      securityContext:
      fsGroup: 1000 # Dá permissão ao grupo do Vault para ler/escrever no volume
      containers:
      - name: vault
        image: hashicorp/vault:1.15
        env:
        - name: VAULT_DEV_ROOT_TOKEN_ID
          value: "root"
        - name: VAULT_LOCAL_CONFIG
          value: |
            storage "file" {
              path = "/vault/file"
            }
            listener "tcp" {
              address     = "0.0.0.0:8200"
              tls_disable = 1
            }
            ui = true
        args: ["server"]
        ports:
        - containerPort: 8200
        volumeMounts:
        - name: vault-data
          mountPath: /vault/file
      volumes:
      - name: vault-data
        persistentVolumeClaim:
          claimName: vault-pvc