apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempo
  namespace: tracing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  template:
    metadata:
      labels:
        app: tempo
    spec:
      containers:
      - name: tempo
        image: grafana/tempo:latest
        args: ["-config.file=/etc/tempo/tempo-config.yaml"]
        ports:
        - containerPort: 3200
        - containerPort: 4317
        volumeMounts:
        - name: config
          mountPath: /etc/tempo
        - name: data  
          mountPath: /var/tempo
      # O erro estava aqui: havia um volumeMounts fora do container. Removi.
      volumes:
      - name: config
        configMap:
          name: tempo-config
      - name: data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: tracing
spec:
  type: NodePort
  selector:
    app: tempo
  ports:
    - name: http-grafana
      port: 3200
      targetPort: 3200
      nodePort: 31200   # Porta para o Grafana ler os Traces
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      nodePort: 31217   